<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Notif</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1><%= title %></h1>

				<table class="table">
					<thead>
						<tr>
							<th>No</th>
							<th>Name</th>
							<th>Last active</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<items.length; i++) { %>
						<tr>
							<td><%= i+1 %></td>
							<td><%= items[i].name %></td>
							<td><%= items[i].last_active %></td>
							<td><%= items[i].status %></td>
							<td>
								<a href="/send/<%= items[i]._id %>" class="btn btn-default">
									Send Notification
								</a>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<script src="jquery/dist/jquery.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>